<div id="<%= dom_id turn %>">
  <p>
    <strong>Fecha:</strong>
    <%= turn.fecha %>
  </p>

  <p>
    <strong>Razon:</strong>
    <%= turn.reason %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= turn.state %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= turn.comment %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= turn.client_user_id %>
  </p>

  <p>
    <strong>Personal:</strong>
    <%= turn.staff_user_id %>
  </p>

  <p>
    <strong>Sucursal:</strong>
    <%= turn.branch_office_id %>
  </p>

</div>
