<div id="<%= dom_id turn %>">
  <p>
    <strong>Fecha:</strong>
    <%= turn.fecha %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= turn.reason %>
  </p>

  <p>
    <strong>State:</strong>
    <%= turn.state %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= turn.comment %>
  </p>

  <p>
    <strong>Client user:</strong>
    <%= turn.client_user_id %>
  </p>

  <p>
    <strong>Staff user:</strong>
    <%= turn.staff_user_id %>
  </p>

  <p>
    <strong>Sucursale:</strong>
    <%= turn.sucursale_id %>
  </p>

</div>
