<!DOCTYPE html>
<html>
  <head>
    <title>Banco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand text-uppercase mx-3 fw-bold" href="/">Banco</a>
        <form class="form-inline justify-content-end">
            <% if current_user %>
              <%= link_to "Mis turnos", turns_path, class: "text-decoration-none text-info mx-3"%>
              <%= link_to "Mis datos", edit_user_registration_path, class: "text-decoration-none text-info mx-3"%>
              <%= link_to "Salir", destroy_user_session_path, class: "btn btn-outline-info mx-3" %>
            <% else %>
              <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-outline-primary mx-3" %>
              <%= link_to "Ingresar", new_user_session_path, class: "btn btn-outline-primary mx-3" %>
            <% end %>
        </form>
      </nav>
    </header>
    <p style="color: green" class="notice fw-bold text-center bg-info"><%= notice %></p>
    <p class="alert"> <%= alert %></p>
    <%= yield %>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container-fluid mt-5 p-0">

      <footer class="text-center text-white" style="background-color: #f1f1f1;">
      <!-- Grid container -->
      <div class="container pt-4">
        <section class="mb-4 text-black">
          <p>Trabajo integrador final, ruby 2022.</p>
        </section>
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <p class="text-dark"> Joaquin Cavenaghi</p>
      </div>
      <!-- Copyright -->
    </footer>
      
    </div>
    <!-- End of .container -->
  </body>
</html>
