<!DOCTYPE html>
<html>
  <head>
    <title>Banco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand text-uppercase mx-3 fw-bold" href="/">Banco</a>
        <form class="form-inline justify-content-end">
            <% if current_user %>
              <%= link_to "Mis turnos", turns_path, class: "text-decoration-none text-info mx-3"%>
              <%= link_to "Mis datos", edit_user_registration_path, class: "text-decoration-none text-info mx-3"%>
              <%= link_to "Salir", destroy_user_session_path, class: "btn btn-outline-info mx-3" %>
            <% else %>
              <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-outline-primary mx-3" %>
              <%= link_to "Ingresar", new_user_session_path, class: "btn btn-outline-primary mx-3" %>
            <% end %>
        </form>
      </nav>
    </header>
    <p style="color: green" class="notice fw-bold"><%= notice %></p>
    <p class="alert"> <%= alert %></p>
    <%= yield %>
  </body>
</html>
